{% block body %}
    <main>
        <h1>Bonjour, {{ name }}</h1>
        <p>Une demande de réinitialisation de mot de passe a été effectuée pour le site samakunchan-technology.com </p>
        <p>Veuillez cliquer sur le lien suivant : <a href="{{ url }}">{{ url }}</a></p>
    </main>
{% endblock %}
