###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/CMD.md
/tests/DataFixtures/
/assets/js/theme.js

/templates/home/pricing.html.twig
/templates/home/blog_show.html.twig
/templates/home/service.html.twig
/templates/home/blog.html.twig
/templates/home/about.html.twig
/templates/home/blog_side_bar.html.twig
/templates/home/portfolio_show.html.twig
/templates/home/contact.html.twig
/templates/home/login.html.twig
/templates/home/register.html.twig
/templates/home/portfolio.html.twig
/src/DataFixtures/UserFixtures.php

/phpunit.phar
/templates/admin/about.html.twig
/templates/admin/articles.html.twig
/templates/admin/articles_add.html.twig
/templates/admin/categories_articles.html.twig
/templates/admin/categories_portfolios.html.twig
/templates/admin/medias_add.html.twig
/templates/admin/medias.html.twig
/templates/admin/messageries.html.twig
/templates/admin/messageries_add.html.twig
/templates/admin/portfolio_add.html.twig
/templates/admin/portfolios.html.twig
/templates/admin/services.html.twig
/templates/admin/services_add.html.twig
/templates/admin/settings.html.twig
/templates/admin/account.html.twig
/tests/
/public/uploads/
/src/Migrations/
/templates/service/_ajax_document.html.twig
/src/Services/Fetcher.php
/public/uploads/thumbs/
/src/DataFixtures/AboutFixtures.php
/src/DataFixtures/CategoryFixtures.php
/src/DataFixtures/EnvironnementFixtures.php
/src/DataFixtures/PortfolioFixtures.php
