###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/CMD.md
/tests/DataFixtures/
/assets/js/theme.js

/phpunit.phar

/tests/
/public/uploads/
/src/Migrations/
/templates/service/_ajax_document.html.twig
/src/Services/Fetcher.php
/public/uploads/thumbs/
/src/DataFixtures/AboutFixtures.php
/src/DataFixtures/CategoryFixtures.php
/src/DataFixtures/EnvironnementFixtures.php
/src/DataFixtures/UserFixtures.php
/src/DataFixtures/PortfolioFixtures.php
