{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <main>
        <!--================ Start Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>Recherche</h2>
                        <div class="page_link">
                            <a href="{{ path('home') }}">Home</a>
                            <a href="javascript:void(0)">Recherche</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ End Banner Area =================-->

        <section class="blog_area_search mt-5">
            <div class="container-fluid">
                <div class="row justify-content-center w-100">
                    <form class="w-75" action="{{ path('blog_search') }}" method="get">
                        <div class="form-group">
                            <input name="q"
                                   class="form-control search-field"
                                   placeholder="Rechercher"
                                   autocomplete="off"
                                   autofocus
                                   data-no-results-message="Aucun résultats"
                            >
                        </div>
                    </form>
                </div>
            </div>
        </section>


    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}
